<!-- Pour la navbar "if expression"
 https://bryanlrobinson.com/blog/using-nunjucks-if-expressions-to-create-an-active-navigation-state-in-11ty/
 -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/global.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <nav>
        <a href="/blog" class="{{ 'active' if '/blog' in page.url }}">Blog</a>
        <a href="/zotero" class="{{ 'active' if '/zotero' in page.url }}">Bibliographie</a>
        <a href="/tag" class="{{ 'active' if '/tag' in page.url }}">Tag</a>
    </nav>
    {{ content | safe }}
</body>
</html>