---
layout: layouts/base.html
---
<!-- Pour le model viewer"
 https://bryanlrobinson.com/blog/using-nunjucks-if-expressions-to-create-an-active-navigation-state-in-11ty/
 -->
 <!--  -->
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

<model-viewer class="mfin"
    src="{{ model }}"
    alt="{{ title }}"
    auto-rotate
    rotation-per-second="-20deg"
    exposure="0.3"
    camera-controls
    camera-orbit="180deg 45deg auto"
    field-of-view="5deg">
</model-viewer>

<div class="scene">

    <div class="scene-gauche">
        <h1 class="id">{{ id }}</h1>
        <hr class="gauche-line" /> 
        <h2 class="tire-meta">{{ title }}</h2>
        <p class="date">{{ date | postDate }}</p>
        <span class="texttag">Tags :</span>
        <ul>
            {% for tag in tags %}
                <li>
                    <a href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="scene-droite">
        {{ content | safe }}
    </div>

</div>