/* Le css du séparateur de la liste vient de Alohci : https://stackoverflow.com/questions/63184650/how-to-set-separator-between-list-element-properly-with-css-and-html  */


body {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5050ba;
  background-image: url('/assets/images/coolbackgrounds-topography-hyphy.svg');
  background-size: cover;
  background-position: center;
}

@media (max-width: 700px) {
    body {
        height: auto;
        overflow-y: auto;
    }
}

model-viewer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (max-width: 700px) {
  model-viewer {
    position: absolute;
    top: 10%;
    width: 80%;
    height: 80%;
    z-index: 1;
  }
}

.scene {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 5%;
    top: 25%;
    gap: 4rem;
    pointer-events: none;
}

@media (max-width: 700px) {
    .scene {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10%;
        gap: 20rem;
    }
}

/* Début style scene gauche */
.scene-gauche {
    width: 20%;
    min-width: 15rem;
    z-index: 2;
    padding: 0.5rem;
    /* backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.12);*/
    font-family: inherit;
    pointer-events: auto;
}

.scene-gauche .id {
    font-size: 2rem;
    color: rgba(229, 229, 229, 0.95);
    margin: 0;
}

.scene-gauche .gauche-line {
  border-top: 0.15rem solid;
  color: rgba(169, 167, 167, 0.8);
}

.scene-gauche .tire-meta {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    color: #f0ede8;
    margin: 0rem;
}

.scene-gauche .date {
  font-style: italic;
  color: #f0ede8b2;
  margin-top: 0.2rem;
}

.scene-gauche .texttag {
  color : rgba(255, 255, 255, 0.45);
  font-style: normal;
  font-size: 0.8rem;
}

.scene-gauche ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

.scene-gauche ul li {
    display: inline;
}

li + li::before {
  content: '|';
  color: rgba(255, 255, 255, 0.45);
}

.scene-gauche ul a {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.45);
    text-decoration: none;
}

.scene-gauche ul :hover {
  color: rgb(234, 234, 234);
}
/* Fin style scene gauche */

.scene-droite {
    width: 20%;
    min-width: 25rem;
    z-index: 0;
    padding: 0.5rem;
    /*backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.12);*/
    font-family: inherit;
    pointer-events: auto;
}

.scene-droite h2 {
  color: rgba(229, 229, 229, 1);
  font-style: normal;
  margin: 0;
}

.scene-droite p {
  color: #f0ede8;
  font-style: normal;
  max-height: 20rem;
  overflow-y: auto;
  text-align: justify;
}

@media (max-width: 700px) {
  .scene-droite p {
    max-height: unset;
    overflow-y: unset;
  }
}