/* Le css du séparateur de la liste vient de Alohci : https://stackoverflow.com/questions/63184650/how-to-set-separator-between-list-element-properly-with-css-and-html  */

body {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5050ba;
  background-image: url('/assets/images/coolbackgrounds-topography-hyphy.svg');
  background-size: cover;
  background-position: center;
}

model-viewer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.scene {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 5%;
    top: 25%;
    gap: 4rem;
    pointer-events: none;
}

/* Début style scene left */
.scene-left {
    width: 20%;
    min-width: 15rem;
    z-index: 2;
    padding: 0.5rem;
    /* backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.12);*/
    font-family: inherit;
    pointer-events: auto;
}

.scene-left .id {
    font-size: 2rem;
    color: rgba(229, 229, 229, 0.95);
    margin: 0;
}

.scene-left .left-line {
  border-top: 0.15rem solid;
  color: rgba(169, 167, 167, 0.8);
}

.scene-left .tire-meta {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    color: #f0ede8;
    margin: 0rem;
}

.scene-left .date {
  font-style: italic;
  color: #f0ede8b2;
  margin-top: 0.2rem;
}

.scene-left .texttag {
  color : rgba(255, 255, 255, 0.45);
  font-style: normal;
  font-size: 0.8rem;
}

.scene-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

.scene-left ul li {
    display: inline;
}

li + li::before {
  content: '|';
  color: rgba(255, 255, 255, 0.45);
}

.scene-left ul a {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.45);
    text-decoration: none;
}

.scene-left ul :hover {
  color: rgb(234, 234, 234);
}
/* Fin style scene left */

/* Début style scene right */

.scene-right {
  grid-area: 1 / 1;
    width: 20%;
    min-width: 25rem;
    z-index: 0;
    padding: 0.5rem;
    /*backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.12);*/
    font-family: inherit;
    pointer-events: auto;
}

.scene-right h2 {
  color: rgba(229, 229, 229, 1);
  font-style: normal;
  margin: 0;
}

.scene-right p {
  color: #f0ede8;
  font-style: normal;
  max-height: 20rem;
  overflow-y: auto;
  text-align: justify;
}

/* fin style scene right */

/* Début style scene right fantôme */

.scene-right-wrapper {
    display: grid;
    width: 20%;
    min-width: 25rem;
}

.scene-right-phantom {
    grid-area: 1 / 1;
    width: 20%;
    min-width: 25rem;
    z-index: 2;
    padding: 0.5rem;
    /*backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.12);*/
    font-family: inherit;
    pointer-events: auto;
}

.scene-right-phantom h2 {
  color: rgba(229, 229, 229, 0);
  font-style: normal;
  margin: 0;
}

.scene-right-phantom p {
  color: #f0ede800;
  font-style: normal;
  max-height: 20rem;
  overflow-y: auto;
  text-align: justify;
}

/* Fin style scene right fantôme */

/* Design réactif */

@media (max-width: 768px) {
    body {
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 768px) {
  .scene {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10%;
      gap: 18rem;
      padding: 0;
  }
}

@media (max-width: 768px) {
  .scene-right {
    padding: 5%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .scene-right-phantom {
    padding: 5%;
  }
}

@media (max-width: 768px) {
  .scene-right p {
    max-height: unset;
    overflow-y: unset;
    padding: 5%;
    margin: 0;
    min-width: unset;
  }
}

@media (max-width: 768px) {
  .scene-right-phantom p {
    max-height: unset;
    overflow-y: unset;
    padding: 5%;
    margin: 0;
    min-width: unset;
  }
}

@media (max-width: 768px) {
  .scene-right-wrapper {
      width: 100%;
      min-width: unset;
  }
}
@media (max-width: 768px) {
    .scene-left {
      padding: 5%;
      margin: 0;
    }
}

@media (max-width: 768px) {
    model-viewer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        z-index: 1;
    }
}
